<!DOCTYPE html>

<!--[if IEMobile 7]>
<html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SEETB Exams Manager</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For all browsers -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" media="print" href="/css/print.css">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="/css/480.css">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="/css/768.css">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="/css/992.css">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="/css/1200.css">
    <!-- For Retina displays -->
    <link rel="stylesheet"
          media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)"
          href="/css/2x.css">

    <!-- Exams custom -->
    <link rel="stylesheet" href="/css/liveedit.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/js/libs/glDatePicker/developr.css">

    <!-- Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Additional styles -->

    <!-- JavaScript at bottom except for Modernizr -->
    <script src="/js/libs/modernizr.custom.js"></script>

    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="/img/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/apple-touch-icon-retina.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="/img/favicons/apple-touch-icon.png">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Microsoft clear type rendering -->
    <meta http-equiv="cleartype" content="on">

    <!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
    <meta name="application-name" content="Developr Admin Skin">
    <meta name="msapplication-tooltip" content="Cross-platform admin template.">
    <meta name="msapplication-starturl" content="http://www.display-inline.fr/demo/developr">
    <!-- These custom tasks are examples, you need to edit them to show actual pages -->
    <meta name="msapplication-task"
          content="name=Agenda;action-uri=http://www.display-inline.fr/demo/developr/agenda.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
    <meta name="msapplication-task"
          content="name=My profile;action-uri=http://www.display-inline.fr/demo/developr/profile.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
</head>

<body class="clearfix with-menu with-shortcuts">

<!-- Prompt IE 6 users to install Chrome Frame -->
<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a
        href="http://browsehappy.com/">Upgrade to a different browser</a> or <a
        href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
</p><![endif]-->

<!-- Title bar -->
<header role="banner" id="title-bar">
    <h2>SEETB Exams Manager</h2>
</header>

<!-- Main content -->
<section role="main" id="main-title">

    <!-- Visible only to browsers without javascript -->
    <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work
        as expected...
    </noscript>

    <!-- The padding wrapper may be omitted -->
    <div class="with-padding">
        <div class="columns">
            <div class="three-columns six-columns-tablet nine-columns-mobile">
                <div class="block large-margin-bottom">
                    <div class="block-title">
                        <h3 style="display: inline">Exams</h3>

                        <div class="button-group absolute-right">
                            <a class="button icon-calendar" onclick="openModal('#add-exam', 'Add new exam');">Add
                                Exam</a>
                        </div>
                    </div>
                    <ul class="events" data-bind="foreach: exams" style="padding-bottom: 7px">
                        <li data-bind="style: {'background-color': isSelectedExam($data) ? 'lightyellow' : 'inherit'}">
                            <a href="#" class="event-description" data-bind="click: selectExam">
                                        <span class="event-date with-month">
                                            <span data-bind="text: day"></span>
                                            <span class="event-month">
                                                <span data-bind="text: month"></span>
                                                /
                                                <span data-bind="text: year"></span>
                                            </span>
                                        </span>
                                <h4 data-bind="text: title"></h4>

                                <p data-bind="text: place"></p>
                                        <span class="count inset show-on-parent-hover"
                                              data-bind="click: deleteExam, clickBubble: false">X</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="new-row-mobile nine-columns">
                <div class="block large-margin-bottom" style="padding-bottom: 7px">
                    <div class="block-title">
                        <h3>Participants</h3>

                        <div class="button-group absolute-right">
                            <a class="button icon-user" onclick="openModal('#add-participant', 'Add new participant');">
                                Add Participant
                            </a>
                        </div>
                    </div>
                    <table class="table responsive-table responsive-table-on">
                        <thead>
                        <th scope="col" class="header">Company</th>
                        <th scope="col" class="header">First Name</th>
                        <th scope="col" class="header">Last Name</th>
                        <th scope="col" class="header">Email</th>
                        <th scope="col" class="header">Price</th>
                        <th scope="col" class="header">Result, %</th>
                        <th scope="col" class="header">Pass/Fail</th>
                        <th scope="col" class="header">Actions</th>
                        </thead>
                        <tbody data-bind="foreach: participants">
                        <tr>
                            <td>
                                <div data-bind="liveEditor: $root.partCompany">
                                    <span class="view"><a href="#"
                                                          data-bind="click: $root.partCompany.edit, text: $data.company"></a></span>
                                        <input class="edit" data-bind="value: $root.partCompany,
                                            enterKey: $root.partCompany.stopEditing,
                                            selectAndFocus: $root.partCompany.editing,
                                            event: { blur: $root.partCompany.stopEditing }"/>
                                </div>
                            </td>
                            <!--<td data-bind="text: company"></td>-->
                            <td data-bind="text: first_name"></td>
                            <td data-bind="text: last_name"></td>
                            <!--<td data-bind="text: email"></td>-->
                            <!--<td data-bind="text: price"></td>-->
                            <!--<td data-bind="text: result"></td>-->
                            <!--<td data-bind="text: pass"></td>-->
                            <td>
                                <a href="#" data-bind="click: deleteParticipant, clickBubble: false">
                                    delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form id="add-exam" style="display: none; width: 500px;">
            <fieldset class="fieldset fields-list">
                <div class="field-block button-height">
                    <label for="exam-title" class="label">Title</label>
                    <input type="text" name="input" id="exam-title" class="input">
                </div>
                <div class="field-block button-height">
                    <label for="exam-place" class="label">Place</label>
                    <select class="select" id="exam-place"
                            data-bind="options: availablePlaces"></select>
                </div>
                <div class="field-block button-height">
                    <label for="exam-date" class="label">Date</label>
                            <span class="input">
                                <span class="icon-calendar"></span>
                                <input id="exam-date" type="text" class="input-unstyled datepicker">
                            </span>
                </div>
            </fieldset>
            <div class="buttons align-center">
                <button type="button" class="button icon-cross glossy red-gradient"
                        onclick="$.modal.current.closeModal();">Cancel
                </button>
                <button type="button" class="button icon-tick glossy green-gradient mid-margin-left"
                        data-bind="click: function() {$.modal.current.closeModal();
                                newExam($('#exam-title').val(), $('#exam-place option:selected').val(), $('#exam-date').val());}">
                    Save
                </button>
            </div>
        </form>

        <form id="add-participant" style="display: none; width: 500px;">
            <fieldset class="fieldset fields-list">
                <div class="field-block">
                    <label for="part-company" class="label">Company</label>
                    <input type="text" name="input" id="part-company" class="input">
                </div>
                <div class="field-block">
                    <label for="part-first-name" class="label">First Name</label>
                    <input type="text" name="input" id="part-first-name" class="input">
                </div>
                <div class="field-block">
                    <label for="part-last-name" class="label">Last Name</label>
                    <input type="text" name="input" id="part-last-name" class="input">
                </div>
                <div class="field-block">
                    <label for="part-email" class="label">Email</label>
                    <input type="text" name="input" id="part-email" class="input">
                </div>
                <div class="field-block">
                    <label for="part-price" class="label">Price</label>
                    <input type="text" name="input" id="part-price" class="input">
                </div>
            </fieldset>
            <div class="buttons align-center">
                <button type="button" class="button icon-cross glossy red-gradient"
                        onclick="$.modal.current.closeModal();">
                    Cancel
                </button>
                <button type="button" class="button icon-tick glossy green-gradient mid-margin-left"
                        data-bind="click: function() {$.modal.current.closeModal();
                                newParticipant($('#part-first-name').val(), $('#part-last-name').val(), $('#part-company').val());}">
                    Save
                </button>
            </div>
        </form>

    </div>

</section>
<!-- End main content -->

<!-- End sidebar/drop-down menu -->

<!-- JavaScript at the bottom for fast page loading -->

<!-- Scripts -->
<script src="/js/libs/jquery-1.8.2.min.js"></script>
<script src="/js/libs/knockout-2.2.0.js"></script>
<script src="/js/setup.js"></script>
<script src="/js/developr.modal.js"></script>
<script src="/js/developr.input.js"></script>
<script src="/js/libs/glDatePicker/glDatePicker.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/modal.js"></script>
<!--<script src="js/liveedit.js"></script>-->
<script src="/js/viewmodel.js"></script>

<!-- Libs go here -->
</body>
</html>