{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/css/liveedit.css">
<link rel="stylesheet" href="/css/events.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/js/libs/glDatePicker/developr.css">
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script src="/js/libs/jquery-1.8.2.min.js"></script>
<script src="/js/libs/knockout-2.2.0.js"></script>
<script src="/js/setup.js"></script>
<script src="/js/developr.modal.js"></script>
<script src="/js/developr.input.js"></script>
<script src="/js/libs/glDatePicker/glDatePicker.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/modal.js"></script>
<!--<script src="js/liveedit.js"></script>-->
<script src="/js/viewmodel.js"></script>
{{/contentFor}}

<!-- Main content -->
<section role="main" id="main-title">

    <!-- Visible only to browsers without javascript -->
    <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work
        as expected...
    </noscript>

    <!-- The padding wrapper may be omitted -->
    <div class="with-padding">
        <div class="columns">
            <div class="three-columns six-columns-tablet nine-columns-mobile">
                <div class="block large-margin-bottom">
                    <div class="block-title">
                        <h3 style="display: inline">Exams</h3>

                        <div class="button-group absolute-right">
                            <a class="button icon-calendar" onclick="openModal('#add-exam', 'Add new exam');">Add
                                Exam</a>
                        </div>
                    </div>
                    <ul class="events" data-bind="foreach: exams" style="padding-bottom: 7px">
                        <li data-bind="style: {'background-color': isSelectedExam($data) ? 'lightyellow' : 'inherit'}">
                            <a href="#" class="event-description" data-bind="click: selectExam">
                                        <span class="event-date with-month">
                                            <span data-bind="text: day"></span>
                                            <span class="event-month">
                                                <span data-bind="text: month"></span>
                                                /
                                                <span data-bind="text: year"></span>
                                            </span>
                                        </span>
                                <h4 data-bind="text: title"></h4>

                                <p data-bind="text: place"></p>
                                        <span class="count inset show-on-parent-hover"
                                              data-bind="click: deleteExam, clickBubble: false">X</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="new-row-mobile nine-columns">
                <div class="block large-margin-bottom" style="padding-bottom: 7px">
                    <div class="block-title">
                        <h3>Participants</h3>

                        <div class="button-group absolute-right">
                            <a class="button icon-user" onclick="openModal('#add-participant', 'Add new participant');">
                                Add Participant
                            </a>
                        </div>
                    </div>
                    <table class="table responsive-table responsive-table-on">
                        <thead>
                        <th scope="col" class="header">Company</th>
                        <th scope="col" class="header">First Name</th>
                        <th scope="col" class="header">Last Name</th>
                        <th scope="col" class="header">Email</th>
                        <th scope="col" class="header">Price</th>
                        <th scope="col" class="header">Result, %</th>
                        <th scope="col" class="header">Pass/Fail</th>
                        <th scope="col" class="header">Actions</th>
                        </thead>
                        <tbody data-bind="foreach: participants">
                        <tr>
                            <td>
                                <div data-bind="liveEditor: $root.partCompany">
                                    <span class="view"><a href="#"
                                                          data-bind="click: $root.partCompany.edit, text: $data.company"></a></span>
                                    <input class="edit" data-bind="value: $root.partCompany,
                                            enterKey: $root.partCompany.stopEditing,
                                            selectAndFocus: $root.partCompany.editing,
                                            event: { blur: $root.partCompany.stopEditing }"/>
                                </div>
                            </td>
                            <!--<td data-bind="text: company"></td>-->
                            <td data-bind="text: first_name"></td>
                            <td data-bind="text: last_name"></td>
                            <!--<td data-bind="text: email"></td>-->
                            <!--<td data-bind="text: price"></td>-->
                            <!--<td data-bind="text: result"></td>-->
                            <!--<td data-bind="text: pass"></td>-->
                            <td>
                                <a href="#" data-bind="click: deleteParticipant, clickBubble: false">
                                    delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

{{> add-exam}}
{{> add-participant}}
